.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  background-color: #cba571;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 20px;
}

.task {
  font-weight: bold;
}

.task-done {
  font-weight: normal;
  text-decoration: line-through;
  opacity: 0.5;
}

.filter-btn-active {
  background-color: green;
  color: white;
  border: 2px solid green;
  border-radius: 2px;
}
.inputError {
  border: 2px solid red;
  outline: none;
  border-radius: 2px;
}
